[Unit]
Description=Execute Borg backup daily at 2 am

[Timer]
OnCalendar=*-*-* 02:00:00
Unit=borg_backup.service
Persistent=true
WakeSystem=true

[Install]
WantedBy=multi-user.target
