[Unit]
Description=Sets Thinkpad trackpoint sensitivity to a sane default

[Service]
Type=oneshot
ExecStart=/home/krj/spooky-scripts/thinkpad/trackpoint.sh

[Install]
WantedBy=graphical.target
