[Unit]
Description=Sets Thinkpad trackpoint sensitivity to a sane default

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix_trackpoint.sh

[Install]
WantedBy=graphical.target
