[Unit]
Description=Sets Thinkpad trackpoint sensitivity to a sane default
Before=graphical.target
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=forking
ExecStart=/usr/local/bin/fix_trackpoint.sh

[Install]
WantedBy=graphical.target suspend.target hibernate.target hybrid-sleep.target
